.footer { 
    display: flex;
    flex-direction: column; 
    align-content: space-between; 
    height: 320px;
    align-content: center;
    background-color:$base-font-color;
    margin-top: 40px; 
}
.footer__elements {
   @include FooterContainerPositionDimention;
   justify-content: space-between;
   margin-top: 60px;
}
.footer__categories_item-ctg, .footer__partners_item-prt, .footer__contacts_item-cu, .footer__subscribe_item-ttl {
    list-style-type: none;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer__categories_items, .footer__partners_items, .footer_contacts_items {
    padding: 0;
    margin: 0;
    width: 225px;
}
.footer__categories_item, .footer__partners_item, .footer__contacts_item {
    @include FooterTextDecoration;
}
.footer__copyright {
    margin: 0 auto;
    font-size: 16px;
    color: #dedede; 
    margin-top: 20px;
}
.footer__subscribe_email {
    padding: 12px;
    padding-right: 180px;
    padding-left: 4px;
    border: solid 1px #666666;
    background-color: transparent;
}
.footer__subscribe_items {
    margin-top: 20px;
}
.footer__subscribe_social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 60px;
    margin-top: 20px;
}
.footer__subscribe_social-fb {
    background-image: url(../../assets/images/fb_icon.png);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.footer__subscribe_social-tw {
    background-image: url(../../assets/images/tw_icon.png);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1200px) {
    .footer {
        margin-top: 160px;
    }
    .footer__elements {
        max-width: 1000px;
    }
    .footer__categories_items, .footer__partners_items, .footer_contacts_items {
        width: 170px;
    }
    .footer__subscribe_email {
        padding-right: 100px; 
    }
}
@media only screen and (max-width: 768px) {
    .footer {
        height: 500px;
    }
    .footer__elements {
        max-width: 740px;
    }
    .footer__subscribe {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 414px) {
    .footer {
        margin-top: 120px;
        height: 650px;
        &__elements {
            max-width: 360px;
        }
        &__contacts {
            margin-top: 20px;
        }
    }
    .footer__subscribe_email {
        padding-right: 20px; 
    }
}
@media only screen and (max-width: 360px) {
    .footer {
        &__elements {
            max-width: 300px;
            margin-top: 40px;
        }
    }
    .footer__categories_items, .footer__partners_items, .footer_contacts_items {
        width: 150px;
    }

}