@import './variables.scss';
@import './mixins.scss';

.header-menu {
    @include ContainerPositionDimention;
    justify-content: space-between;
    align-content: space-between;
    background-color: #ffffff;
}
.header-menu__nav {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    max-width: 700px;
    height: 80px;
    justify-content: space-around;
}

.header-menu__nav_logo {
    background-image: url(../../assets/images/matter.png);
    @include LogoPositionDimension;
    margin-top: 20px;
}
#hm {
    display: none;
}
.header-menu__nav-items {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: space-between;
    margin-left: 10px; 
    max-width: 500px;
}
.header-menu__account-panel {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    border: 0;
    align-content: space-between;
    width: 450px;
    justify-content:  flex-end;

    &_registration {
        @include MenuLinkDecoration;
       margin-top: 16px;
    }
    &_photo {
        background-image: url(../../assets/images/image_alex.png);
        @include ImgPositionDimention;
        margin-left: 6px;
        margin-right: 6px;
    }
    &_search-icon {
        width: 20px;
        height: 20px;
        margin: 16px;
    }
    &_like-icon {
        width: 20px;
        height: 20px;
        margin: 16px;
    }
    &_basket-icon {
        width: 15px;
        height: 20px;
        margin: 16px;
    }
}
.breadcrumbs {
    background: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    height: 80px;
    &__menu {
        @include ContainerPositionDimention;
        justify-content: flex-start;
        height: 80px;
        padding: 0;
        &_item {
            margin-right: 30px;
            @include  MenuLinkBreadcrumbsDecoration;
            z-index: 2;
        }
        &_link {
            @include  MenuLinkBreadcrumbsDecoration;
        }
        &_arrow {
            border: solid #030303;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            margin-left: -20px;
            margin-right: 18px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .header-menu__nav {
        max-width: 600px;
        margin-left: 20px;
    }
    .header-menu__nav-items {
        max-width: 400px;
        padding-left: 20px;
    }
    .header-menu__account-panel {
        &_registration {
            font-size: 12px;
            margin-top: 14px;  
        }
    }
    .breadcrumbs {
        &__menu {
            margin-left: 20px;
            &_link {
                font-size: 16px;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .header-menu__account-panel {
        margin-right: 6px;
        width: 250px;
        &_photo {
            background-image: url(../../assets/images/image_alex_small.png);
            width: 32px;
            height: 32;
            margin-left: 4px;
            margin-right: 4px;
        }
        &_search-icon {
            width: 12px;
            height: 12px;
            margin: 6px;
        }
        &_like-icon {
            width: 12px;
            height: 12px;
            margin: 6px;
        }
        &_basket-icon {
            width: 10px;
            height: 13px;
            margin: 6px;
        }
        &_registration {
            font-size: 10px;
            margin-top: 8px;
        }
    }
    .header-menu__nav-items{
        padding-left: 4px;
    }
    .header-menu__nav-items_item-active, .header-menu__nav-items_item {
        padding: 8px;
    }
    .header-menu__nav-items_arrow {
        margin-left: -6px;
    }
}
@media screen and (max-width: 414px) {
    .header-menu {
        max-width: 360px;
    }
    .header-menu__nav {
        width: 360px; 
        margin: 0;
    }
    .header-menu__nav-items_item-active, .header-menu__nav-items_item {
        display: none;
    }
    .header-menu__nav_logo {
        margin-left: 120px;
    }
    .header-menu__account-panel {
        width: 360px;
        justify-content: center;
    }
    .breadcrumbs {
        height: 60px;
        &__menu {
            height: 60px;
        }
    }
}
@media screen and (max-width: 360px) {
    .header-menu {
        max-width: 320px;
    }
    .header-menu__nav {
        width: 320px; 
    }
    .header-menu__nav_logo {
        margin-left: 100px;
    }
    .header-menu__nav_hamburger_menu {
        margin-left: 50px;
    }
    .breadcrumbs__menu_item {
        font-size: 8px;
        margin-right: 24px;
    }
    .breadcrumbs__menu_arrow {
        padding: 1px;
        margin-right: 6px;
    }
}
@media screen and (max-width: 320px) {
    .header-menu {
        max-width: 320px;
    }
    .header-menu__nav {
        width: 320px; 
    }
    .header-menu__nav_logo {
        margin-left: 100px;
    }
    .header-menu__nav_hamburger_menu {
        margin-left: 50px;
    }
    .breadcrumbs__menu_item {
        font-size: 8px;
        margin-right: 24px;
    }
    .breadcrumbs__menu_arrow {
        padding: 1px;
        margin-right: 6px;
    }
}