@import './variables.scss';
@import './mixins.scss';

.product {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-content: space-around;
    max-width: 1240px;
    margin-top: 15px;
}
.product__photo-list {
    display: flex;
    flex-direction: column;
    width: 100px;
    &_blue-small {
        background-image: url(../../assets/images/blue_small.png);
        @include ImgSmallPositionDimention;
    }
    &_black_small {
        background-image: url(../../assets/images/black_small.png);
        @include ImgSmallPositionDimention;
    }
    &_shorts-small {
        background-image: url(../../assets/images/shorts_small.png);
        @include ImgSmallPositionDimention;
    }
    &_dress-small {
        background-image: url(../../assets/images/dress_small.png);
        @include ImgSmallPositionDimention;
    }
    &_pink-small {
        background-image: url(../../assets/images/pink_small.png);
        @include ImgSmallPositionDimention;
    }
}
.product__description-product_photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    flex-flow: wrap;
    margin-left: -40px;
    &_large-photo {
        background-image: url(../../assets/images/blue_big.png);
        width: 455px;
        height: 684px;
        margin-top: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
    }
}
.product__description-product {
    max-width: 640px;
    margin-top: 20px;
    &_price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        max-width: 600px;
    }
    &_price-prc {
        width: 300px;
        font-size: 24px;
        color: $base-active_color;
        margin: 0;
        }
    &_price-stars {
        margin-top: 10px;
        width: 180px;
        height: 20px;
    }
    &_description {
        font-size: 18px;
        width: 650px;
        margin: 0;
        margin-top: 10px;
    } 
    &_text {
        @include TextConfigurationGray;
    }
    &_rate {
       margin: 0;
       color: #666666;
    }
}
.product__description-product_authors {
    margin-left: -3px;
}
.product__description-product_authors_bold {
    font-family: "Proxima Nova Semibold";
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    padding-top: 30px;
}
.product__description-product_authors_normal {
    @include TextConfigurationGray;
    padding-top: 30px;
    padding-left: 100px;
}
.product__description-product_sizes {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    max-width: 400px;
    justify-content: space-between;
    &_size {
        width: 50px;
        height: 40px;
        @include BorderStyle;
        padding-left: 20px; 
        padding-top: 10px; 
        font-size: $base-font-size;
    }
    &_size:hover {
        width: 50px;
        height: 40px;
        @include BorderStyle;
        background-color: #f3f3f3;
        padding-left: 20px; 
        padding-top: 10px; 
        font-size: $base-font-size;
    }
}
.product__description-product_example {
    margin-top: 8px;
}
.product__description-product_refinement {
    @include MenuLinkDecoration;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product__description-product_refinement-sg {
    @include MenuLinkDecoration;
}
.product__description-product_refinement-qt {
    @include MenuLinkDecoration;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product__description-product_quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 520px;
}
.product__description-product_counter {
    width: 120px;
    height: 40px;
    @include BorderStyle;
}
@media only screen and (max-width: 1200px) {
    .product__description-product_photo {
        &_large-photo {
            background-image: url(../../assets/images/blue_big_0.8.png);
            width: 366px;
            height: 548px;
        }
    }
    .product__description-product {
        max-width: 500px;
        margin-top: 20px;
    }
    .product {
        max-width: 1000px;
    }
}
@media only screen and (max-width: 768px) {
    .product {
        max-width: 740px;
    }
    .product__description-product {
        max-width: 400px;
        margin-top: -380px;
    }
    .product__description-product_photo {
        &_large-photo {
            background-image: url(../../assets/images/blue_big_0.6.png);
            width: 315px;
            height: 473px;
        }
    }
    .product__photo-list {
        flex-direction: row;
        justify-content: space-between;
        width: 400px;
    }
    .product__description-product_name {
        font-size: 20px;
    }
    .product__description-product_price-prc {
        width: 200px;
        font-size: 21px;
    }
    .product__description-product_authors_bold, .product__description-product_authors_normal {
        padding-top: 15px;
        font-size: 16px;
    }
    .product__description-product_text {
        font-size: 16px;
    }
}
@media only screen and (max-width: 414px) {
    .product {
        margin: 0 auto;
        max-width: 390px;
    }
    .product__photo-list {
        order: 2;
    }
    .product__description-product_photo {
        margin: 0;
        order: 1;
        &_large-photo {
            background-image: url(../../assets/images/blue_big_mobile.png);
            width: 390px;
            height: 585px;
            margin: 0;
        }
    }
    .product__description-product {
        max-width: 390px;
        margin: 0;
        order: 3;
    }
} 
@media screen and (max-width: 375px) {
    .product {
        max-width: 360px;
    }
    .product__description-product {
        max-width: 320px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 320px) {
    .product {
        max-width: 320px;
        &__description-product_photo {
            margin: 0 auto;
        }
    }
    .product__photo-list {
        display: none;
    }
    .product__description-product {
        max-width: 300px;
        margin: 0 auto;
    }
    .product__description-product_price-prc {
        width: 130px;
        font-size: 24px;
    }
}