@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../../../../assets/fonts/proximanova-regular-webfont.woff2") format("woff2");
    font-weight: 200;
}
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url("../../../../assets/fonts/Proxima-Nova-Semibold.woff2") format("woff2");
    font-weight: 200;
}
@media screen and (min-width: 414px) {
    #hm {
        display: none;
    }
}
@media screen and (max-width: 414px) {
    .hamburger {
        position: relative;
        height: 44px;
    &__panel-icon {
        margin-top: 20px;
        margin-left: 300px;
        width: 35px;
        height: 24px;
        background-image: url(../../../../assets/images/burger_menu_icon.png);
        cursor: pointer;
    }
    &__panel-list {
        list-style-type: none;
    }
    a {
        color: transparent;
    }
    &_active {
        .hamburger__panel-icon {
            margin-top: 20px;
            width: 35px;
            height: 50px;
            background-image: url(../../../../assets/images/close_menu_icon.png);
            background-repeat: no-repeat;
            cursor: pointer;
            position: relative;
            z-index: 2;
        }
        .hamburger__panel-lista {
            width: 700px;
            padding: 0;
            margin: 0;
            margin-top: -70px;
            margin-left: -20px;
            height: 80px;
            background-color: #1d1d1d;
            font-family: 'Proxima Nova Regular';
            font-size: 12px;
            color: #ffffff; 
            letter-spacing: 2px;
        }
        .hamburger__panel-list_shop, .hamburger__panel-list_fabric, .hamburger__panel-list_journal, .hamburger__panel-list_about {
            display: relative;
            background-color: #1d1d1d;
            padding-left: 44px;
            font-family: 'Proxima Nova Regular';
            color: #ffffff; 
        }
    }
}
}
    
    
                




