.bulb {
  width: 50px; }
  .bulb__lighter {
    border: 1px solid red;
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .bulb_active {
    background-color: green; }
    .bulb_active .bulb__lighter {
      background-color: red; }
    .bulb_active .bulb__control {
      background-color: yellow; }
.garland__output {
  border: 1px solid green; }
.select {
  position: relative;
  border: 1px solid red;
  width: 220px; }
  .select__title {
    border: none;
    background: transparent;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 100%; }
  .select__options {
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0px #00000066;
    -ms-transform: scaleY(0);
        transform: scaleY(0);
    -ms-transform-origin: top center;
        transform-origin: top center;
    visibility: hidden;
    transition: all 0.5s; }
  .select__control {
    border: none;
    background: transparent;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 10px; }
  .select_expand .select__options {
    -ms-transform: scaleY(1);
        transform: scaleY(1);
    visibility: visible; }
* {
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-family: "Rubik Light";
  font-weight: 100; }

body, ul, ol, h1, h2, h3, h4, h5, hr, p, figure {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.page-header {
  background-color: #313a5a;
  height: 800px; }

.page-nav__toggle {
  display: none; }

.page-nav:hover {
  background: white; }
