.page-header {
  background-color: #313a5a; }

.page-nav {
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 16px; }
  .page-nav_toggle {
    display: none; }
  .page-nav__logo {
    font-family: "Rubik Regular";
    color: #ffffff;
    font-size: 26px;
    font-weight: 200;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .page-nav_menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .page-nav_item {
    margin: 0 36px;
    background-color: #1fdb84; }
  .page-nav_link {
    color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 38px; }

.account-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .account-panel_btn {
    margin: 0; }

.banner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #ffffff; }
  .banner__info {
    margin-top: -100px; }
  .banner__img {
    width: 463px;
    height: 750px;
    position: relative;
    background-image: url(assets/images/artboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1; }
  .banner h1 {
    font-family: "Rubik Light";
    font-size: 48px;
    font-weight: 100; }
  .banner__info_description {
    font-family: "Rubik Light";
    font-weight: 100;
    font-size: 16px;
    line-height: 32px;
    margin-top: 40px; }

* {
  box-sizing: border-box; }

html {
  font-size: 12px;
  font-family: "Rubik Light";
  font-weight: 100; }

body, ul, ol, h1, h2, h3, h4, h5, hr, p {
  padding: 0;
  margin: 0; }

li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 18px; }

.page-header {
  background-color: #313a5a;
  height: 800px; }

.page-nav__toggle {
  display: none; }

.page-nav:hover {
  background: white; }

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px; }

.page-header {
  background-color: #313a5a; }

.page-nav {
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 16px; }
  .page-nav_toggle {
    display: none; }
  .page-nav__logo {
    font-family: "Rubik Regular";
    color: #ffffff;
    font-size: 26px;
    font-weight: 200;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .page-nav_menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .page-nav_item {
    margin: 0 36px;
    background-color: #1fdb84; }
  .page-nav_link {
    color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 38px; }

.account-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .account-panel_btn {
    margin: 0; }

.banner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #ffffff; }
  .banner__info {
    margin-top: -100px; }
  .banner__img {
    width: 463px;
    height: 750px;
    position: relative;
    background-image: url(assets/images/artboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1; }
  .banner h1 {
    font-family: "Rubik Light";
    font-size: 48px;
    font-weight: 100; }
  .banner__info_description {
    font-family: "Rubik Light";
    font-weight: 100;
    font-size: 16px;
    line-height: 32px;
    margin-top: 40px; }

.btn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 16px 24px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px; }
  .btn_success {
    background-color: #1fdb84;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6); }

.CTA-btn {
  border: none;
  color: #ffffff;
  padding: 19.2px 48px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 19.2px;
  background-color: #1fdb84;
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  margin-top: 65px; }

.benefits {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  height: 420px;
  max-width: 1357px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #ffffff;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  border-radius: 10px;
  margin-top: -150px;
  z-index: 2; }
  .benefits__section {
    width: 300px;
    height: 300px; }
  .benefits__section_title, .benefits__section_description {
    color: #031d5b; }
  .benefits__section_title {
    font-family: "Rubik Light";
    font-weight: 100;
    font-size: 18px;
    margin-top: 26px; }
  .benefits__section_line {
    width: 60px;
    height: 4px;
    background-color: #1fdb84;
    margin: 0;
    margin-top: 26px; }
  .benefits__section_description {
    font-size: 16px;
    line-height: 2;
    margin-top: 26px; }
  .benefits__section-secure-transaction_img {
    background-image: url(assets/images/secure_every_transaction.png);
    background-repeat: no-repeat;
    height: 72px;
    margin: 0; }
  .benefits__section-easiest-to-use_img {
    background-image: url(assets/images/easiest_to_use.png);
    background-repeat: no-repeat;
    height: 72px;
    margin: 0; }
  .benefits__section-fastest-mining_img {
    background-image: url(assets/images/fastest_mining.png);
    background-repeat: no-repeat;
    height: 72px;
    margin: 0; }
