.phototext__photo_contain {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    justify-content: center;
    margin: 0 auto;
}
.phototext__photo {
    width: 1439px;
    height: 480px;
    background-image: url(../../assets/images/two_pants.png);
    background-repeat: no-repeat;
    margin-top: 100px;
}
.phototext {
    &__text_gray {
    @include  TextWidthAndDecorationGray;
    margin-top: 20px;
    }
    &__text_black { 
    @include  TextWidthAndDecoration; 
    margin-top: 30px; 
    }
}
.photo-gallery__photos {
    @include ContainerPositionDimention;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 60px;
    &_photo-girl-glass {
        background-image: url(../../assets/images/photo_girl_glass.png);
        width: 395px;
        height: 450px;
        background-repeat: no-repeat;
    }
    &_photo-paper {
        background-image: url(../../assets/images/photo_paper.png);
        width: 395px;
        height: 450px;
        background-repeat: no-repeat;
    }
    &_photo-girl-book {
        background-image: url(../../assets/images/photo_girl_book.png);
        width: 395px;
        height: 450px;
        background-repeat: no-repeat;
    }
    &_caption {
        text-align:  center;
        @include  MenuLinkBreadcrumbsDecoration;
        margin-top: 390px;
    }
}
.photo-gallery__text {
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #fcfcfc;
    &_content {
        @include TextWidthAndDecoration;
        padding-top: 60px;
    } 
}
@media only screen and (max-width: 1024px) {
    .photo-gallery__photos {
        max-width: 1000px;
        &_photo-girl-glass {
            background-image: url(../../assets/images/photo_girl_glass_0.8.png);
            width: 320px;
            height: 380px;
        }
        &_photo-paper {
            background-image: url(../../assets/images/photo_paper_0.8.png);
            width: 320px;
            height: 380px;
        }
        &_photo-girl-book {
            background-image: url(../../assets/images/photo_girl_book_0.8.png);
            width: 320px;
            height: 380px;
        }
        &_caption {
            text-align:  center;
            font-size: 16px;
            margin-top: 330px;
        }
    }
    .photo-gallery__text {
        margin-top: 40px;
    }   
}
@media only screen and (max-width: 768px) {
    .photo-gallery__text_content {
        max-width: 680px;
    }
    .phototext__text_gray, .phototext__text_black {
        max-width: 680px;
    }
    .photo-gallery__photos {
        max-width: 740px;
        &_photo-girl-glass {
            background-image: url(../../assets/images/photo_girl_glass_0.6.png);
            width: 233px;
            height: 233px;
        }
        &_photo-paper {
            background-image: url(../../assets/images/photo_paper_0.6.png);
            width: 233px;
            height: 233px;
        }
        &_photo-girl-book {
            background-image: url(../../assets/images/photo_girl_book_0.6.png);
            width: 233px;
            height: 233px;
        }
        &_caption {
            margin-top: 250px;
            font-family: "Proxima Nova Semibold";
        }
    }
}
@media only screen and (max-width: 414px) {
    .phototext__photo {
    width: 414px;
    height: 356px;
    background-image: url(../../assets/images/two_pants_mobile.png);
    }
    .phototext__text_gray, .phototext__text_black {
        max-width: 320px;
        font-size: 16px;
        line-height: 28px;
    }
    .photo-gallery__photos {
        max-width: 320px;
        &_photo-girl-glass {
            background-image: url(../../assets/images/photo_girl_glass_0.8.png);
            width: 320px;
            height: 380px;
        }
        &_photo-paper {
            background-image: url(../../assets/images/photo_paper_0.8.png);
            width: 320px;
            height: 380px;
        }
        &_photo-girl-book {
            background-image: url(../../assets/images/photo_girl_book_0.8.png);
            width: 320px;
            height: 380px;
        }
        &_caption {
            text-align:  center;
            font-size: 16px;
            margin-top: 330px;
        }
    }
    .photo-gallery__text {
        height: 490px;
        margin-top: 10px;
    }
    .photo-gallery__text_content {
        max-width: 320px;
        font-size: 16px;
        line-height: 28px;
    }   
}
@media screen and (max-width: 320px) {
    .phototext__text_gray, .phototext__text_black {
        max-width: 300px;
    }
    .photo-gallery__text_content {
        max-width: 300px;
        padding: 0;
        margin-top: 20px;
    }
}





    